.container{
    margin: 50px auto;
    width: 60%;
    background-color: whitesmoke;
    padding: 20px;
}
.header{
    text-align: center;
    padding: 10px;
}
.material-icons{
    margin: 10px;
    cursor: pointer;
}